---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import BackofficeClient from "../components/BackofficeClient";
---

<!-- Backoffice Page -->
<Layout>
    <Header />

    <div class="table-container m-auto w-fit py-4" id="backoffice-list">
        <BackofficeClient client:load />
    </div>
</Layout>
<Footer />
