---
// Appel serveur
const response = await fetch("http://localhost:5000/articles");
const articles = await response.json();
---

<!-- Actualités -->
<section class="py-12">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-semibold mb-6">Dernières actualités</h2>
        <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2">
            {
                articles
                    .slice(0, 2)
                    .map(
                        (article: {
                            [x: string]: unknown;
                            id: any;
                            titre: unknown;
                            contenu: unknown;
                        }) => (
                            <article class="bg-white p-6 rounded-lg shadow">
                                <a href={`/news/${article.id}`}>
                                    <h3 class="text-xl font-semibold mb-2">
                                        {article.titre}
                                    </h3>
                                    <p>{article.contenu_bref}</p>
                                </a>
                            </article>
                        ),
                    )
            }
        </div>
        <div class="mt-6">
            <a
                href="/news"
                class="inline-block bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition"
                >Voir plus d’actualités</a
            >
        </div>
    </div>
</section>
