---
const response = await fetch(`http://localhost:5000/events`);
const events = await response.json();
console.log("Events fetched:", events);
---

<!-- Événement du mois -->
<section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-semibold mb-4">Événement du moment</h2>
        {
            events
                .slice(6, 7)
                .map(
                    (event: {
                        [x: string]: any;
                        titre: string;
                        date_event: string;
                        description: string;
                        image: string;
                    }) => (
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <a href={`/events/${event.id}`}>
                                <h3 class="text-xl font-semibold mb-2">
                                    {event.titre}
                                </h3>
                                <p class="text-gray-600 mb-4">
                                    {new Date(
                                        event.date_event,
                                    ).toLocaleDateString("fr-FR", {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    })}
                                </p>

                                {event.image && (
                                    <img
                                        src={`http://localhost:5000${event.image}`}
                                        alt={`Image de l'événement ${event.titre}`}
                                        class="rounded-lg shadow-md max-h-150 object-cover mb-4 w-full mx-auto"
                                    />
                                )}
                            </a>
                        </div>
                    ),
                )
        }

        <a
            href="/events"
            class="inline-block bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition mt-6"
            >Voir tous les événements</a
        >
    </div>
</section>
